.delete {
  text-align: center !important;
  border: 1px solid black;
  text-transform: uppercase;
  font-weight: bold;
  color: brown;

  cursor: pointer;
}

.delete:focus,
.delete:hover {
  background-color: aquamarine;
}