table {
  font-size: 100%;
  border-collapse: collapse;
  border-spacing: none;
}

body {
  font-size: 10pt;
  font-family: Arial, Verdana, sans-serif;
}

h1 {
  margin: 0;
}

table#header {
  width: 100%;
  margin-bottom: 1ex;
}

#header,
#header h1,
#pay_till {
  font-size: 14pt;
  font-weight: bold;
}

#pay_till {
  font-size: 14pt;
  text-align: right;
}

table#info {
  width: 100%;
}

td#course {
  text-align: right;
  font-weight: bold;
  font-size: 11pt;
}

ul#receiver,
ul#receiver li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

body {
  padding: 1em;
}

ul {
  list-style-type: disc;
  margin: 2ex 1em;
}

table#order {
  width: 100%;
}

table#order td,
table#order th {
  font-size: 9pt;
  border: 1px solid black;
  padding: 0.5ex 0.5em;
}

table#order td {
  text-align: right;
}

table#order td.item-name {
  text-align: left;
}

table#order tr.total td {
  border: none;
  font-weight: bold;
}

table#order td.units {
  text-align: center;
}

#sum-names {
  font-weight: bold;
  text-decoration: underline;
}

table#subscripts {
  width: 100%;
}

table#subscripts td {
  border-bottom: 1px solid black;
  width: 35%;
}

table#subscripts th {
  padding-left: 3em;
  text-align: left;
}

@media print {
  .printHide {
    display: none;
  }
}
